<header>
  <mat-toolbar>
    <span>Birthday tracker</span>

    <button
      mat-icon-button
      matListItemMeta
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onAddButtonClicked()">
        <mat-icon>add</mat-icon>
        <span>Add</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
<main class="main">
  <app-friends-list
    [friends]="friendsService.friends | appFriendsList"
  ></app-friends-list>
</main>
