<mat-list-item>
  <span matListItemTitle>{{ item.name }} {{ ageDisplay }}</span>
  <span matListItemLine>
    {{ item.dateOfBirth | appDateOfBirth }} ({{ daysUntilBirthdateDisplay }})
  </span>

  <button
    mat-icon-button
    matListItemMeta
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="onDeleteRequested()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</mat-list-item>
